extends layout

block content
  h1= title
   form(action='http://localhost:3000/users/login', method='post')
    input(type='text', name='username', placeholder='username')
    input(type='password', name='password', placeholder='password')
    br
    button(type='submit') submit