extends layout

block content
  h1= title

  div(class='allmsg')
      script.
          function addlist() {
            $.get("/message-usr", function (response) { 
              $('.allmsg').append("<p>" + response + "</p>");
          });
          }
          addlist()