extends layout

block content
  h1= title
  div#input-group
   div#form-group 
    form(action='http://localhost:3000/message/', method='post') 
     input(type='text', name='messagetitle', placeholder='Message title')
     input(type='text', name='message', placeholder='Message')
     br
     button(type='submit') submit